In [243]:
import pandas as pd
path = 'data/chap2/popular-names.txt'

### 10. 行数のカウント

In [19]:
with open(path) as f:
    lines = [s.strip() for s in f.readlines()]
len (lines)

2780

In [253]:
df = pd.read_table(path, header=None)
print(len(name))

2780

In [27]:
!wc -l $path

    2780 data/popular-names.txt

### 11. タブをスペースに置換

In [251]:
replaced_path = 'data/chap2/popular-names_replaced.txt'
with open(path) as f:
    lines = [s.strip().replace('\t',' ') for s in f.readlines()]
with open (replaced_path, mode='w') as f:
    f.write('\n'.join(lines))

In [52]:
df = pd.read_table(path, header=None)
df.to_csv(replaced_path, sep=' ', index=False, header=None)

In [62]:
!sed -e s/'\t'/' '/g $path > $replaced_path

In [65]:
!cat $path | tr '\t' ' ' > $replaced_path

In [67]:
!expand -t 1 $path > $replaced_path

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [93]:
col1_path = 'data/chap2/col1.txt'
col2_path = 'data/chap2/col2.txt'
df = pd.read_table(path, header=None)
df[0].to_csv(col1_path, index=False, header=None)
df[1].to_csv(col2_path, index=False, header=None)

In [137]:
!cut -f 1 $path | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

### 13. col1.txtとcol2.txtをマージ

In [126]:
c1 = pd.read_table(col1_path, header=None)
c2 = pd.read_table(col2_path, header=None)
df = pd.concat([c1,c2], axis=1)
df.to_csv('data/chap2/popular-names_merged.txt', sep='\t', index=False, header=None)

In [135]:
!paste $col1_path $col2_path | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

### 14. 先頭からN行を出力

In [148]:
def take_head(n):
    df = pd.read_table(path, header=None)
    print(df.head(n))

In [149]:
take_head(10)

           0  1
0       Mary  F
1       Anna  F
2       Emma  F
3  Elizabeth  F
4     Minnie  F
5   Margaret  F
6        Ida  F
7      Alice  F
8     Bertha  F
9      Sarah  F

In [153]:
!head -n 10 $path

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

### 15. 末尾のN行を出力

In [154]:
def take_tail(n):
    df = pd.read_table(path, header=None)
    print(df.tail(n))

In [155]:
take_tail(10)

             0  1
2770      Liam  M
2771      Noah  M
2772   William  M
2773     James  M
2774    Oliver  M
2775  Benjamin  M
2776    Elijah  M
2777     Lucas  M
2778     Mason  M
2779     Logan  M

In [156]:
!tail -n 10 $path

Liam	M
Noah	M
William	M
James	M
Oliver	M
Benjamin	M
Elijah	M
Lucas	M
Mason	M
Logan	M

### 16. ファイルをN分割する

In [187]:
def take_splitted(n):
    df = pd.read_table(path, header=None)
    nrow = -(-len(df) // n) # math.ceil(len(df) // n)
    
    for i in range(n):
        df.loc[nrow*i : nrow * (i+1)].to_csv(f'data/chap2/ans16/splited_{i}', sep='\t', index=False, header=None)

In [209]:
take_splitted(10)

In [216]:
!split -n 10 -d $path data/ans16/splited_check # できない

split: illegal option -- n
usage: split [-a sufflen] [-b byte_count] [-l line_count] [-p pattern]
             [file [prefix]]

### 17. １列目の文字列の異なり

In [217]:
df = pd.read_table(path, header=None)
print(df[0].unique())

['Mary' 'Anna' 'Emma' 'Elizabeth' 'Minnie' 'Margaret' 'Ida' 'Alice'
 'Bertha' 'Sarah' 'John' 'William' 'James' 'Charles' 'George' 'Frank'
 'Joseph' 'Thomas' 'Henry' 'Robert' 'Annie' 'Edward' 'Clara' 'Florence'
 'Ethel' 'Bessie' 'Harry' 'Helen' 'Ruth' 'Marie' 'Lillian' 'Mildred'
 'Dorothy' 'Frances' 'Walter' 'Evelyn' 'Virginia' 'Richard' 'Betty'
 'Donald' 'Doris' 'Shirley' 'Barbara' 'Patricia' 'Joan' 'Nancy' 'Carol'
 'David' 'Ronald' 'Judith' 'Linda' 'Sandra' 'Carolyn' 'Sharon' 'Michael'
 'Susan' 'Donna' 'Larry' 'Kathleen' 'Deborah' 'Gary' 'Karen' 'Debra'
 'Pamela' 'Cynthia' 'Mark' 'Steven' 'Lisa' 'Jeffrey' 'Lori' 'Kimberly'
 'Tammy' 'Angela' 'Michelle' 'Jennifer' 'Melissa' 'Christopher' 'Brian'
 'Amy' 'Laura' 'Tracy' 'Julie' 'Jason' 'Scott' 'Stephanie' 'Heather'
 'Nicole' 'Matthew' 'Rebecca' 'Jessica' 'Amanda' 'Daniel' 'Kelly' 'Joshua'
 'Crystal' 'Ashley' 'Megan' 'Brittany' 'Andrew' 'Justin' 'Samantha'
 'Lauren' 'Emily' 'Brandon' 'Tyler' 'Taylor' 'Nicholas' 'Jacob' 'Hannah'
 'Austin' 'Alexis' 'Rachel' 'Madison' 'Abigail' 'Olivia' 'Ethan' 'Anthony'
 'Isabella' 'Ava' 'Sophia' 'Chloe' 'Alexander' 'Mia' 'Jayden' 'Noah'
 'Aiden' 'Mason' 'Liam' 'Charlotte' 'Harper' 'Benjamin' 'Elijah' 'Amelia'
 'Logan' 'Oliver' 'Lucas']

In [275]:
!cut -f 1 $path | sort | uniq | head

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

### 18. 各行を3コラム目の数値の降順にソート

In [255]:
df = pd.read_table(path, sep='\t', header=None)
df.sort_values(2, ascending=False)

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

In [260]:
!sort -k 3 -r $path | head

Linda	F	99689	1947
James	M	9951	1911
Mildred	F	9921	1913
Mary	F	9889	1886
Mary	F	9888	1887
John	M	9829	1900
Elizabeth	F	9708	2012
Anna	F	9687	1913
Frances	F	9677	1914
John	M	9655	1880
sort: Broken pipe

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [265]:
df = pd.read_table(path, sep='\t', header=None)
print(df[0].value_counts())

James      118
William    111
Robert     108
John       108
Mary        92
          ...
Rachel       1
Lucas        1
Julie        1
Scott        1
Laura        1
Name: 0, Length: 136, dtype: int64

In [274]:
!cut -f 1 $path | sort | uniq -c | sort -n -r | head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret